
body {
    background-color: #F2E5BF; 
}
#my_flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    gap: 20px;               /* Space between cards */
    flex-wrap: wrap;         /* Ensure it wraps on smaller screens */
    padding: 20px;           /* Add padding to the flexbox area */
}

.hero_box{
    width: 100%;
    height: 15%;
  
}

h1 {
    padding: 45px;
    text-align: center; 
    color: #257180;
   /* text-shadow: 1px 2px 1px black; */
  
} 


h2 {
    text-align: center; 
    color: #CB6040
}

h3 {
  color: #257180 ; 
  text-align: center;
}


.contact_info {
    display: flex;              
    flex-direction: column;     /* Stack children vertically */
    align-items: center;        /* Center align children horizontally */
    justify-content: center;     /* Center align children vertically */
    margin: 40px 20%;          /* Set top/bottom margin to 40px and left/right to 20% */
    padding: 20px;             /* Add some padding inside the card */
    background-color: #F2E5BF; /*  off white color */
    max-width: 400px;          /* Maximum width of the card */
    text-align: center;         /* Center text inside the card */
}

#info_1 {
    /*border: 2px solid #564457; Add a border */
    padding: 20px;             /* Add extra padding */

}

p {
    color: #564457; 
}
