* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
}

.calendar-container {
    /* max-width: 900px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.month-navigation {
    display: flex;
    align-items: center;
}

.month-navigation h1 {
    margin: 0 10px;
}

.filters {
    display: flex;
    gap: 10px;
}

.filters button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #e0e0e0;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #ddd;
    margin-top: 10px;
}

.day-label {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.day {
    background-color: #fff;
    padding: 20px;
    min-height: 9.375rem;
    position: relative;
}

.empty {
    background-color: #f9f9f9;
}

.event {
    padding: 5px;
    margin-top: 10px;
}

.event-title {
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.event-time {
    font-size: 0.8em;
    color: #777;
}