

#my_flexbox {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    gap: 20px;               /* Space between cards */
    flex-wrap: wrap;         /* Ensure it wraps on smaller screens */
    padding: 20px;           /* Add padding to the flexbox area */
}

.hero_box{
    width: 100%;
    height: 15%;
  
}

h1, h2 {
    text-align: center; 
}

h3 {
  color: #564457 ; 
}


.contact_info {
    display: flex;              
    flex-direction: column;     /* Stack children vertically */
    align-items: center;        /* Center align children horizontally */
    justify-content: center;     /* Center align children vertically */
    margin: 40px 20%;          /* Set top/bottom margin to 40px and left/right to 20% */
    padding: 20px;             /* Add some padding inside the card */
    background-color: #F2E5BF; /*  off white color */
    max-width: 400px;          /* Maximum width of the card */
    text-align: center;         /* Center text inside the card */
}

#info_1 {
    border: 2px solid #00796b; /* Add a border */
    padding: 30px;             /* Add extra padding */

}
